
/*
.row {
  border:1px solid green;  
  height:1em;
  line-height:1em;

}
*/

.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border:1px solid red; 
}

#main {
    text-align: center;
}