

#grid-container {
  display: inline-grid;
  height: 300px;
  width: 300px;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 1px solid;
  justify-content: center;

  
}


.box {
  background-color: white;
  border: 1px solid black;

}


.trail {
  background-color: gray;
  border: 1px solid black;
}